<!doctype html>

<html>
  <head>
    <title>Mock signaly.cz</title>
  </head>
  <body>
    <h1>Mock signaly.cz</h1>
    <p>
      Change the notification count values in <code>values.yml</code>.
      Run signaly-notify with options <code>--url <%= uri %> --skip-login</code>
    </p>

    <hr>

    <div class="section-usermenu">
      <p>
        notifications
        <a href="/ohlasky">
          <div class="badge-parent">
            <% if notifications > 0 %>
            <span class="badge"><%= notifications %></span>
            <% end %>
          </div>
        </a>
      </p>
      <p>
        private messages
        <a href="/vzkazy">
          <div class="badge-parent">
            <% if pms > 0 %>
            <span class="badge"><%= pms %></span>
            <% end %>
          </div>
        </a>
      </p>
      <p>
        invitations
        <% if invitations > 0 %>
        <a href="/vyzvy">
          <div class="badge-parent">
            <span class="badge"><%= invitations %></span>
          </div>
        </a>
        <% end %>
      </p>
    </div>
  </body>
</html>
